Repository daotl/element-plus-vite-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --config .stylelintrc.css.js --fix, stylelint --config .stylelintrc.sass.js --fix

style: fix TS error
  src/App.vue
Due: eslint --fix, stylelint --config .stylelintrc.sass.js --fix

fix: breaking `npm run dev`, cannot import from `element-plus/{es,lib}/**`
  src/App.vue
Due: eslint --fix, stylelint --config .stylelintrc.sass.js --fix

chore: add `--cache` to `eslint` call in `lint-staged`
  .lintstagedrc.json
Due: none

style: text wrapping
  src/components/HelloJsx.tsx
  src/components/HelloTemplate.vue
Due: eslint --fix, stylelint --config .stylelintrc.css.js --fix, stylelint --config .stylelintrc.sass.js --fix

feat: add `pug` for templates
  package-lock.json
  package.json
  src/App.vue
  src/components/HelloTemplate.vue
Due: eslint --fix, stylelint --config .stylelintrc.sass.js --fix

chore: update README
  README.md
Due: none

chore: add `@daotl/tsconfig`
  package-lock.json
  package.json
  src/App.vue
  src/main.ts
  tsconfig.json
  vite.config.ts
Due: eslint --fix, stylelint --config .stylelintrc.css.js --fix, stylelint --config .stylelintrc.sass.js --fix

chore: update `@daotl/tsconfig`
  package-lock.json
  package.json
Due: none

Path conditions:
  eslint --fix: any of: src/**/*.{ts,tsx,vue}
  stylelint --config .stylelintrc.css.js --fix: any of: src/**/*.{css,ts,tsx}
  stylelint --config .stylelintrc.sass.js --fix: any of: src/**/*.{sass,scss,vue}
